#result {
    display: none;
    flex-direction: column;
    width: 55%;
    background-color: whitesmoke;
    opacity: 70%;
    border-radius: 20px;
    padding: 3% 5% 3% 5%;
    margin-bottom: 2%;
}
.resultwrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.CityDaybox{
    text-align: left;
}

.city {
    display: flex;
    flex-direction: column;
    font-family: 'Mirza', cursive;
    font-size: 50px;
    margin-bottom:20px ;
}

.time, .days{
    display: flex;
    flex-direction: column;
    font-family: 'Mirza', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.IconTempbox {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
.Icon {
    display: flex;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.weatherInfo {
    display: block;
    margin-top: 30px;
    width: auto;
    height: 100px;
    font-family: 'Mirza', cursive;
    text-align: right;

}
.weatherInfo span:first-child{
    font-size: 42px;

}
.weatherInfo span:last-child {
    font-size: 20px;
}

.weatherdetailsBox {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.weatherdetailsBox h2 {
    border-bottom: black solid 2px;
    font-family: 'Mirza', cursive;
    font-size: 36px;
    margin-top: 10px;
}
.details {
    display: flex;
    position: relative;
    margin: 5px 0px;
}
.details p {
    margin: 0;
    font-family: 'Mirza', cursive;
    font-size: 24px;
}
.details span {
    position: absolute;
    right: 0;
    text-align: right;
    margin: 0;
    font-family: 'Mirza', cursive;
    font-size: 20px;
}
.close {
    text-align: right;
}
#closebtn {
    border: 0;
    background-color: transparent;
    text-align: right;
}
#closebtn img {
    width: 15px;
    height: 15px;
}
.share {
    display: none;
    text-align: left;
}
.share p {
    margin: 0;
    padding-left: 5px;
    font-family: 'Mirza', cursive;
    font-size: 24px;
}
#sharebtn {
    background-color: transparent;
    border:0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sharebtn img {
    margin-top: 10px;
    width: 15px;
    height: 15px;
}
header {
    text-align: center;
    color: black;
    font-family: 'Mirza', cursive;
}
@media screen and (max-width:768px) {
    #result {
        width: 80%;
    }
    .resultwrap {
        display: flex;
        flex-direction: column;
    }
    .CityDaybox{
        width: 100%;
    }
    .citycontry {
        width: 300px;
        display: inline;
    }
    .city {
        margin:0;
    }
    .IconTempbox {
        margin: 0;
    }
    .Icon {
        padding: 20px 0 20px 20px;
    }
    .weatherdetailsBox {
       width: 100%;
       padding: 0;
    }
    .weatherdetailsBox h2 {
        margin-top: 0;
    }
    .share {
        justify-content: center;
        margin-top: 5%;
    }
}
